#logo:hover{
	transform:rotate(90deg); 
	transition-duration: 20s	
}
#logo
{
	float:left;
	height:100%  ; 
	width:30% ; 
	background:red
}

.body{
	background-image: url("http://localhost/images/logo.jpg");
	height:70%  ; 
	width:100%; 
	background:green  
} 
.login
{
	border-style : solid ; 
	float:left;
	height:100%  ; 
	width:20% ; background:orange;
	
}
#quicklinks
{
	float:left;height:100%  ; width:50% ; background:purple
}
#header{
	height:20%  ; width:100% ; background:yellow;
}

#prodDisplay
{
	border-radius:200px;
	text-align:center;
	font-size:10;
	color : red;
	font-family: arial;
	
	
	background:yellow;float:left;height:30%  ; width:10% ;margin:10px
}

#footer{
	height:10%  ; width:100% ; background:blue
}